{% extends "core/list.html" %}
{% block actions %}<p><a href="{% url 'it:airport_create' %}" role="button">New airport</a></p>{% endblock %}
{% block thead %}<tr><th>AIRPORTID</th><th>NAME</th><th>ADDRESS</th><th>CITY</th><th>COUNTRY</th><th>ZIPCODE</th><th>ACTIONS</th></tr>{% endblock %}
{% block rows %}{% for item in object_list %}<tr><td>{{ item.airportid }}</td><td>{{ item.name }}</td><td>{{ item.address }}</td><td>{{ item.city }}</td><td>{{ item.country }}</td><td>{{ item.zipcode }}</td><td><a href="{{ item.get_absolute_url }}">Edit</a> <a href="{% url 'it:airport_delete' item.pk %}">Delete</a></td></tr>{% endfor %}{% endblock %}
